
<form [formGroup]="formOne" style="text-align: center">
  <header>Trabajo Nro. 2 <br>
    Máscara de campos</header>
  <h1>Datos</h1>
  <input type="text" placeholder="Número de Cédula" appMaskId>
  <br><br>
  <input type="text" placeholder="Monto" appMaskNumber>
  <br><br>
  <input type="text" placeholder="e-mail" appMaskEmail> 
  <br><br>
  <button type="button">Enviar</button>
  <footer>Presentador por: Jose Andrés Suárez y Jonathan Hincapie <br>
  Profesor: Andres Felipe González - Fredy Mauricio García Moná</footer>
</form>
